.dishes_container {
    margin: 50px auto 0 auto;
    max-width: 950px;
    ul {
        display: flex;
        justify-content: space-between;
    }
}
.dishes_loading, .dishes_error, .dishes_none {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #5B5B5B;
}